body{
    margin: 0;
    background-color: #E6E6FA;
    font-family: arial;
    background-image: radial-gradient(circle at center center, transparent,rgb(255,255,255)),linear-gradient(309deg, rgba(90, 90, 90,0.05) 0%, rgba(90, 90, 90,0.05) 50%,rgba(206, 206, 206,0.05) 50%, rgba(206, 206, 206,0.05) 100%),linear-gradient(39deg, rgba(13, 13, 13,0.05) 0%, rgba(13, 13, 13,0.05) 50%,rgba(189, 189, 189,0.05) 50%, rgba(189, 189, 189,0.05) 100%),linear-gradient(144deg, rgba(249, 249, 249,0.05) 0%, rgba(249, 249, 249,0.05) 50%,rgba(111, 111, 111,0.05) 50%, rgba(111, 111, 111,0.05) 100%),linear-gradient(166deg, rgba(231, 231, 231,0.05) 0%, rgba(231, 231, 231,0.05) 50%,rgba(220, 220, 220,0.05) 50%, rgba(220, 220, 220,0.05) 100%),linear-gradient(212deg, rgba(80, 80, 80,0.05) 0%, rgba(80, 80, 80,0.05) 50%,rgba(243, 243, 243,0.05) 50%, rgba(243, 243, 243,0.05) 100%),radial-gradient(circle at center center, hsl(107,19%,100%),hsl(107,19%,100%)); 
}
.navbar{
    display: flex;
    justify-content: flex-start;
    height: 30px;
    background-color: #c8dbf3;
    gap: 30px;
}
.nav-link{
    border: 0;
    padding-inline: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: rgb(135, 135, 206);
    color: #000;
    border-radius: 3px;
    border: 1px solid #000;
}
.nav-link:hover{
    background-color: rgb(85, 85, 156);
}
.titulo-home{
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.titulo{
    display: flex;
    flex-wrap: nowrap;
    font-size: 35px;
    color: rgb(68, 68, 190);
    width: auto;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(146, 15, 15, 0.1);
}
.menu{
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.menu-1{
    
    height: 250px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    background-color: #c8dbf3;
    
}
.menu-1:hover{
    box-shadow: 50px 20px 20px rgb(181, 181, 214);
}
.menu-1 h1{
    font-size: 20px;
    font-family: arial;
    
}
.menu-logo{
    height: 60px;
    display: flex;
    text-align: start;
}
.menu-1 p{
    font-family: 'arial';
    font-size: 17px;
    height: 85px;
    text-align:left;
    margin: 6px;
}
.menu-1 a{
    text-decoration: none;
    padding: 5px;
    margin: 8px;
    border-radius: 4px;
    background-color: rgb(135, 135, 206);
    color: #000;
    font-family: 'arial';
    font-size: 19px;
}
.menu-1 a:hover{
    background-color: rgb(85, 85, 156);
}
.area-botao{
    height: 40px;
    padding-top: 10px;
}
.titulo-page{
    display: flex;
    gap: 200px;
    height: 70px;
}
.titulo-page h1{
    font-size: 25px;
    font-family: 'arial';
    color: rgb(68, 68, 190);
}
.titulo-page-logo{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}
.titulo-page-logo img{
    height: 50px;
}
.titulo-page-logo a {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-decoration: none;
    color: #000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
}
.form input{
    border: none;
    height: 25px;
    border: 1px solid #8787CE; /* Custom border color */
    border-radius: 6px; /* Rounded corners */
    outline: none; /* Remove default outline */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 3px;
}
.form input:focus{
    border-color: #5A5AB2; /* Darker border color on focus */
    box-shadow: 0 0 5px rgba(90, 90, 178, 0.5); /* Subtle shadow on focus */
}
.form input:hover{
    border-color: #6868B8;
}
.form span{
    color: red;
    font-size: 11px;
}
.form1{
    width: 650px;
    height: 250px;
    border: 2px solid rgb(68, 68, 190);
    border-radius: 15px;
    font-family:'Georgia';
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.form-pl{
    display: flex;
    flex-direction: row;
    height: 60px;
    margin: 0;
    gap: 10px;
    width: 100%;
}
.form-sl{
    display: flex;
    flex-direction: row;
    height: 75px;
    margin: 0;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
}
.form-control{
    display: flex;
    flex-direction: column;
}
.form1 input[type="text"] {
    width: 600px;
}
.form1 input[type="tel"] {
    width: 200px;
}
.form1 input[type="date"] {
    width: 180px;
}
.form1 input[type="email"] {
    width: 350px;
}
.form1 input[type="email"] {
    width: 350px;
}
.form1 input[type="password"] {
    width: 250px;
}
.form2{
    width: 650px;
    height: 190px;
    border: 2px solid rgb(68, 68, 190);
    border-radius: 15px;
    font-family:'Georgia';
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.form2 a{
    color: red;
    font-size: 11px;
}
.form-xl{
    display: flex;
    flex-direction: row;
    height: 75px;
    margin: 0;
    gap: 10px;
    margin-top: 10px;
}
.form-xl div {
    display: flex;
    flex-direction: column;
}
.form2 input[name="cep"] {
    width: 260px;
}
.form2 input[name="estado"] {
    width: 110px;
}
.form2 input[name="cidade"] {
    width: 210px;
}
.form2 input[name="endereco"] {
    width: 310px;
}
.form2 input[name="bairro"] {
    width: 200px;
}
.form2 input[name="numero"] {
    width: 70px;
}
.btn-shaketext {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 30px;
    width: 250px;
    opacity: 1;
    background-color: 
  #ffffff;
    border: 1px solid 
  rgba(22, 76, 167, 0.6); }
    .btn-shaketext span {
      color: 
  #164ca7;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.7px; }
    .btn-shaketext:hover {
      animation: rotate 0.7s ease-in-out both; }
      .btn-shaketext:hover span {
        animation: storm 0.7s ease-in-out both;
        animation-delay: 0.06s; }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0); }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0); }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0); }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0); }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0); } }
  
  @keyframes storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0); }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0); }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0); }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0); }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0); } }
.table{
    width: 600px;
}